<footer>
		
    <div class='wrapper'>
      <div class='seperator padded'>
        <div class='col-2'>
          <select>
            <option>Português</option>
            <option>Español</option>
            <option>English</option>
            <option>Deustch</option>
          </select>
          <select>
            <option>R$ BRL</option>
            <option>$ USD</option>
            <option>Є EUR</option>
          </select>
        </div>
        <div class='col-1 first'>
          <h3>A Empresa</h3>
          <ul class="list-layout">
            <li><a href="/about/about-us" class="link-contrast">Sobre Fernweh</a></li>
            <li><a href="/careers" class="link-contrast">Diversidade e pertencimento</a></li>
            <li><a href="/press/news" class="link-contrast">Opções de cancelamento</a></li>
            <li><a href="http://blog.airbnb.com" class="link-contrast">Denuncie um problema do bairro</a></li>
            <li><a href="/help?from=footer" class="link-contrast">Central de atendimento</a></li>
            <li><a href="/policies" class="link-contrast">Política</a></li>
            <li><a href="/disaster-response" class="link-contrast">fernweh.org: ajuda em desastres</a></li>
            <li><a href="/terms" class="link-contrast">Termos &amp; Privacidade</a></li>
          </ul>
        </div>
        <div class='col-1'>
          <h3>Descubra</h3>
          <ul class="list-layout">
            <li><a href="/trust" class="link-contrast">Confiança &amp; Segurança</a></li>
            <li><a href="/invite?r=6" class="link-contrast">Créditos de viagem</a></li>
            <li><a href="/gift" class="link-contrast">Cartões de presente</a></li>
            <li><a href="/wishlists/airbnb_picks" class="link-contrast">Sugestões Fernweh</a></li>
            <li><a href="/mobile" class="link-contrast">Mobile</a></li>
            <li><a href="https://www.airbnbaction.com?utm_source=airbnb&amp;utm_medium=footer&amp;utm_campaign=product" class="link-contrast" target="_blank">Novos quartos</a></li>
            <li><a href="/business-travel?s=footer" class="link-contrast">Viagem de negócios</a></li>
            <li><a href="/sitemaps" class="link-contrast">Mapas</a></li>
          </ul>
        </div>
        <div class='col-1'>
          <h3>Hospedagem</h3>
          <ul class="list-layout">
            <li><a href="/host" class="link-contrast">Experimente hospedar</a></li>
            <li><a href="/hospitality" class="link-contrast">Hospitalidade</a></li>
            <li><a href="/help/responsible-hosting" class="link-contrast">Hospede de forma responsável</a></li>
            <li><a href="/home-safety" class="link-contrast">Proteção ao hospedar</a></li>
            <li><a href="/host/instant" class="link-contrast">Fernweh luxo</a></li>
          </ul>
        </div>
      </div>
      <div class='seperator column text-center'>
        <h2 class='margin-below-1'>Join Us on</h2>
        <div class='smedialinks'>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-google-plus" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
        </div>
      </div>
    </div>
