
<header>
    <div class="empty">
      <div class="top-navigation">
        <div class="logo"><a href="#">Fernweh</a></div> 
        <img src="src/assets/img/logo1.png">
      <nav> 
        <div class="nav-menu">
            <ul>
              <li><a href="#" class="nav-link">Lugares para ficar</a></li>           
              <li><a href="#" class="nav-link">Experiências</a></li>
              <li><a href="#" class="nav-link">Experiências Online</a></li>
            </ul>
          </div>
  
            <form class="search"> 
              <div class="search-inputs">
                <label for="location"> 
                  <div class="label">Localização</div>
                  <input name="location" id="location" placeholder="Para onde você vai?"/>
                </label>
                
              </div>
              <div class="search-inputs">
                <label for="check-in"> 
                  <div class="label">Check-in</div>
                  <input name="check-in" id="check-in" placeholder="Quando?"/>
                </label>
              </div>
              <div class="search-inputs">
                <label for="check-out"> 
                  <div class="label">Checkout</div>
                  <input name="check-out" id="check-out" placeholder="Quando?"/>
                </label>
              </div>
              <div class="search-inputs">
                <label for="guests"> 
                  <div class="label">Hóspedes</div>
                  <input name="guests" id="guests" placeholder="Quantos?"/>
                </label>
              </div>
              <div class="search-button">
                <button onclick="preventDefault()"></button><i class="fa fa-search" aria-hidden="true"></i>
              </div>
            </form>
        </nav> 
  
        <div class="user"> 
          <div>Se torne um anfitrião!</div>
          <button>
            <i class="fa fa-globe" aria-hidden="true"></i>
            <i class="fas fa-chevron-down"></i>
          </button>
          <div class="profile-menu">
            <div class="menu">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div class="profile-pic">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
  
  
      </div> 
    </div> 
  </header>
