.image {
    height: 100%;
    background-size: cover;
    background-image: url("src/assets/img/mapa2dark.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }